/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 50px;
  justify-content: end;
  background-color: #0077ff;
}

header > nav > ul > li {
  display: inline-block;
  list-style: none;
}