@charset "UTF-8";

div.container {
    display: grid;
    /* grid-template-columns: auto auto auto; ESSA CONFIG QUER DIZER QUE O GRID VAI TER 3 COLUNAS, E O AUTO QUER DIZER QUE TODOS VAO TER O MESMO TAMANHO */
    /* grid-template-rows: 100px 100px 100px; TAMANHO DAS LINHAS */
    height: 500px;
    border: 2px solid blue;
    
    gap: 20px; /*ESPAÇAMENTO ENTRE OS ITENS*/
    /* align-items: stretch; ALINHAMENTO VERTICAL DOS ITENS */
    /* justify-items: center; ALINHAMENTO HORIZONTAL DOS ITENS */
    /* align-content: start; ALINHAMENTO VERTICAL DOS CONTEUDOS ESSE TEM SPACE-BETWEEN, SPACEC-AROUND E SPACE-EVENLY */
    /* justify-content: end; ALINHAMENTO HORIZONTAL DOS CONTEUDOS ESSE TEM SPACE-BETWEEN, SPACEC-AROUND E SPACE-EVENLY */

    /*ITEMS SAO OS ITENS QUE ESTAO DENTRO DOS ITENS (SEPARADOS)
    CONTENT E A POSICAO DO CONJUNTO DOS ITENS USANDO O CONTAINER PAI DE REFERENCIA
    O CONTENT SO VAI FUNCIONAR SE O CONTAINER PAI FOR MAIOR DO QUE O CONTEUDO DENTRO
    */

    grid-auto-rows: 100px; /* PADRONIZA O TAMANHO DE NOVAS LINHAS QUE NAO ESTAO EXPLICITAS */
    grid-auto-columns: 100px; /* PADRONIZA O TAMANHO DE NOVAS COLUNAS QUE NAO ESTAO EXPLICITAS, NESTE CASO NAO FUNCIONA O AUTO PQ ELE JA TEM PRE DETERMINADO O TAMANHO DAS COLUNAS ANTERIORMENTE */

    /*PROPRIEDADES SIMPLIFICADORAS*/
    place-items: stretch center; /*CONFIGURA O ALIGN-ITEMS E JUSTIFY-ITEMS*/
    place-content: start end; /*CONFIGURA O ALIGN-CONTENT E JUSTIFY-COTENT*/
    grid-template: repeat(3, 100px) / repeat(3, auto); /*CONFIGURA O GRID-TEMPLATE-ROWS E GRID-TEMPLATE-COLUMNS*/

    /*FUNCAO REPEAT() E UNIDADE FRACTION*/
    /*FUNCAO REPEAT É UMA FUNCAO PARA FACILITAR A DIGITACAO NO GRID-TEMPLATE-COLUMNS, POR EXEMPLO, QUERO 3 COLUNAS, A FUNCAO SERIA repeat(3, auto) demonstrado acima*/

    /*UNIDADE FRACIONAL
    USADO PARA DIVIDIR O GRID DE UMA MANEIRA MELHOR DO QUE USANDO O AUTO QUE SÓ DIVIDE IGUAL.
    SEMPRE QUE USAR O FRACIONAL ELE VAI DIVIDIR SOBRE O QUE SOBROU DO CONTAINER
    DA PARA USUAR AS 3 MEDIDAS JUNTAS
    */
}

div.item {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    align-content: center;
    text-align: center;
}