@charset "UTF-8";

container.bigbox {
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    /* SE QUEBRAR, ELE VAI NO SENTIDO DO CROSS-AXIS */
    flex-flow: row wrap;
    align-content: space-evenly;
    height: 500px;
}

/* 
ALIGN-CONTENT, ALINHA OS ELEMENTOS QUANDO ELES ESTAO EMPACOTADOS

ALIGN-CONTENT: STRETCH - VALOR PADRAO, DIVIDE E ESTICA

ALIGN-CONTENT: FLEX-START - PEGA OS ELEMENTOS E ANINHA TODOS EM CIMA DEIXANDO A PARTE DE BAIXO EM BRANCO

ALIGN-CONTENT: FLEX-END - FAZ O AO CONTRATO DO FLEX-START

ALIGN-CONTENT: CENTER - ALINHA OS ITENS NO CENTRO DO CROSS-AXIS

ALIGN-CONTENT: SPACE-BETWEEN - GRUDA OS ELEMENTOS NAS EXTREMIDADES (CROSS-START E CROSS-END) 

ALIGN-CONTENT: SPACE-EVENLY - DIVIDE OS ELEMENTOS EM PARTES IGUAIS (INCLUINDO ESPAÇO ANTES E DEPOIS (START-END)

ALIGN-CONTENT: SPACE-AROUND - DIVIDE EM PARTES IGUAIS, MAS TEM NA CONTA COMEÇO E FINAL DE CADA ELEMENTO
*/

div.box {
    background-color: white;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
}
