@charset "UTF-8";

/* 
SE VOCE SO COLOCAR A DISPLYA:FLEX ELE AUTOMATICAMENTE SO VAI FICAR CONFIGURADO PARA FLEX-DIRECTION: ROW

FLEX-DIRECTION: ROW-REVERSE | OS ITENS VAO SER DA DIREITA PARA ESQUERDA
FLEX-DIRECTION: COLUMN | FORMATO DE COLUNA DE CIMA PARA BAIXO (UTILIZADO EM CELULAR)
FLEX-DIRECTION: COLUMN-REVERSE | FORMATO DE COLUNA DE BAIXO PARA CIMA

QUANDO FAZEMOS A FLEX-DIRECTION É CRIADO 2 EIXOS (AXIS)

MAIN-AXIS -> EIXO PRINCIPAL
    TEM DOIS PONTOS: MAIN-START E MAIN-END

CROSS-AXIS -> EIXO TRANSVERSAL
    TEM DOIS PONTOS: CROSS-START E CROSS-END

OS EIXOS SAO DADOS ORIENTADOS BASEADO NO FLEX-DIRECTION (NA DIRECTION EM COLUMN É ALTERADO OS EIXOS)

*/

container.bigbox {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* SE QUEBRAR, ELE VAI NO SENTIDO DO CROSS-AXIS */
}

div.box {
    flex: auto;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
    text-align: center;
}

p {
    color: rgb(0, 0, 0);
    padding: 1px;
}

