@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    nav > ul {
        display: block;
    }

    nav > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}

/* @media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imgs/back-pc.jpg);
    }
    
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
    
} */