@charset "UTF-8";

@font-face {
    font-family: 'Passion';
    src: url(PassionOne-Bold.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* html, body {
    min-height: 100vh; Para o body pegar o tamanho total da tela
}
    */
header {
    background-color: black;
    color: white;
    font-family: Passion, sans-serif;
    font-variant: small-caps;
    text-align: center;
    padding: 80px;
    font-size: 3vw;
}

header > p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > p > a:hover {
    text-decoration: underline;
}

.sfoto {
    display: block;
    background-color: white;
    font-style: italic;
    text-align: left;
    padding: 30px 10px 10px 20px;
    width: 100%;
    margin: 0px 0px 60px 0px;
    font-size: 3.5vw;
    line-height: 2em;
    display: block;
}

.cfoto {
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.425));
    color: white;
    font-style: italic;
    padding: 10px 0px 10px 5px;
    margin: 30px 0px 30px 20px;
    min-width: 45%;
    max-width: 48%;
    min-height: auto;
    overflow: auto;
    font-size: 3.5vw;
    line-height: 2em;
}

#foto1 {
    background: black url('imagens/background001.jpg') center center no-repeat fixed;
    background-size: 100% 100%;
    position: relative; /* Container sempre no posicionamento relativo */
    height: auto;
    padding-bottom: 20px;
}

#foto2 {
    background: black url('imagens/background002.jpg') center center no-repeat fixed;
    background-size: 100% 100%;
    position: relative; /* Container sempre no posicionamento relativo */
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}