@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

container.bigbox {
    background-color: rgba(0, 0, 0, 0.384);
    display: flex;
    /* SE QUEBRAR, ELE VAI NO SENTIDO DO CROSS-AXIS */
    flex-flow: column wrap; /* s/ necessidade */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* SHORTHAND DE FLEX DIRECTION E FLEX WRAP */
}

/* 
JUSTIFY CONTENT VAI FAZER O ALINHAMENTO NO MAIN-AXIS 
JUSTIFY CONTENT: FLEX-START - O PRIMEIRO VAI FICAR GRUDADO NO MAIN-START E SE TIVER ESPAÇO LIVRE VAI FICAR NO FINAL, NO MAIN-END

JUSTIFY CONTENT: FLEX-END - AO CONTRATO DO FLEX START, FICA NO GRUDADO NO MAIN-END

JUSTIFY CONTENT: CENTER - CALCULA O MEIO E COLOCAR OS ITENS CENTRALIZADOS

JUSTIFY CONTENT: SPACE-BETWEEN - COLOCA O PRIMEIRO ELEMENTO NO MAIN-START E O ULTIMO NO MAIN-END, O RESTANTE DOS ELEMENTOS VAO ESTAR DISTRIBUIDOS NO MEIO

JUSTIFY CONTENT: SPACE EVENLY - É O MESMO ESPAÇO ENTRE OS ELEMENTOS PARA TUDO, INCLUIDO O MAIN-START E MAIN-END

JUSTIFY CONTENT: SPACE-AROUND - VAI DIVIDIR O TAMANHO DO MEU CONTAINER PELO NUMERO DE ELEMENTOS E CENTRALIZAR OS ELEMENTOS NO CONTAINER, LEMBRANDO, CADA ELEMENTO TEM ESPAÇO DE COMEÇO E FIM.
*/

/* 
ALIGN-ITEMS VAI FAZER O ALINHAMENTO NO CROSS-AXIS
ALIGN-ITEMS: STRETCH - PADRAO, ELE VAI ESTICAR O ELEMENTO

ALIGN-ITEMS: FLEX-START - O PRIMEIRO VAI FICAR GRUDADO NO CROSS-START E SE TIVER ESPAÇO LIVRE VAI FICAR NO FINAL, NO CROSS-END

ALIGN-ITEMS: FLEX-END - AO CONTRATO DO FLEX-STAR, FICA GRUDADO NO CROSS-END

ALIGN-ITEMS: CENTER - CALCULA O MEIO E COLOCAR OS ITENS CENTRALIZADOS

*/

div.box {
    background: url("https://images.pexels.com/photos/32868540/pexels-photo-32868540.jpeg") center / cover no-repeat;
    text-align: center;
    height: 200px;
    width: 200px;
}
